<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>상품 데이터 출력 예제</title>

<!-- 각 페이지에 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">

</th:block>

<!-- 각 페이지에 css가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
		.fieldError {
			color: #bd2130;
		}
	</style>
</th:block>

</head>
<body>
	<div layout:fragment="content">
		<form class="row g-3" action="/members/new" method="post" th:object=${memberFormDto}>
		<!-- th:object=${memberFormDto} : memberFormDto에 자동으로 입력됨 -->
		<div class="mb-3 row">
		    <label th:for="name" class="col-sm-2 col-form-label">이름</label>
		    <div class="col-sm-10">
		      <input  type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력해주세요">
		    </div>
		    <!-- th:field="*{name}" : 위에서 작성한 th:object에서 입력해줄때 memberFormDto안의 필드와 매칭해 줌 -->
		    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect Data</p>
	  	</div>
		<div class="mb-3 row">
		    <label th:for="email" class="col-sm-2 col-form-label">email</label>
		    <div class="col-sm-10">
		      <input  type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력해주세요">
		    </div>
		    <!-- th:field="*{name}" : 위에서 작성한 th:object에서 입력해줄때 memberFormDto안의 필드와 매칭해 줌 -->
		    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect Data</p>
	  	</div>
		<div class="mb-3 row">
		    <label th:for="Password" class="col-sm-2 col-form-label">비밀번호</label>
		    <div class="col-sm-10">
		      <input  type="Password" th:field="*{Password}" class="form-control" placeholder="비밀번호를 입력해주세요">
		    </div>
		    <!-- th:field="*{name}" : 위에서 작성한 th:object에서 입력해줄때 memberFormDto안의 필드와 매칭해 줌 -->
		    <p th:if="${#fields.hasErrors('Password')}" th:errors="*{Password}" class="fieldError">Incorrect Data</p>
	  	</div>
		<div class="mb-3 row">
		    <label th:for="address" class="col-sm-2 col-form-label">주소</label>
		    <div class="col-sm-10">
		      <input  type="text" th:field="*{address}" class="form-control" placeholder="주소를 입력해주세요">
		    </div>
		    <!-- th:field="*{name}" : 위에서 작성한 th:object에서 입력해줄때 memberFormDto안의 필드와 매칭해 줌 -->
		    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError">Incorrect Data</p>
	  	</div>
		  
		  
		  
		  
		  <!-- 
		  <div>
		    <label th:for="name">이름</label>
		    <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력해주세요">
		    th:field="*{name}" : 위에서 작성한 th:object에서 입력해줄때 memberFormDto안의 필드와 매칭해 줌
		    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect Data</p>
		  </div>
		  <div>
		    <label th:for="email">email</label>
		    <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력해주세요">
		    th:field="*{name}" : 위에서 작성한 th:object에서 입력해줄때 memberFormDto안의 필드와 매칭해 줌
		    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect Data</p>
		  </div>
		  <div>
		    <label th:for="password">Password</label>
		    <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력해주세요">
		    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect Data</p>
		  </div>
		  <div>
		    <label th:for="address">address</label>
		    <input type="text" th:field="*{address}" class="form-control" placeholder="비밀번호를 입력해주세요">
		    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError">Incorrect Data</p>
		  </div> -->
		  <div class="col-auto">
		    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
		  </div>
		</form>
	</div>
</body>
</html>